*{
    padding:0;
    margin:0;
}
div{
    background:#090a0c;
}
body{
    width:100%;
}
#navbar{
    background:linear-gradient(135deg,#d0d1d3 0%,#c6c7c9 50%,#bbbcbe 100%);
    height:60px;
    
}
#navbar a{
    margin-right:85px;
    font-size: 30px;
    text-decoration: none;
    color:#090a0c;
}
#name{
    font-size:50px;
    color:#090a0c;
    padding: 10px;
}
#cm{
    margin-right:0px;
}
img{
    width:100%;
}
#pic {
    position: absolute;
    top: 45%; /* Position the content at the vertical center */
    left: 50%; /* Position the content at the horizontal center */
    transform: translate(-50%, -50%); /* Center the content both horizontally and vertically */
    background:none;
}
h1{
    color:#090a0c;
    font-size: 50px;
    font-weight: 700 ;
    align-items: center;
}
h2{
    color:#090a0c;
    font-size: 30px;
    font-weight: 300 ;
}
button{
    background:#090a0c;
    color:white;
    font-size: 25px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    margin-right:50px ;
    width:120px;
    height:40px;
    margin-top:10px;
}
#pic1 {
    position: absolute;
    top: 85%; /* Position the content at the vertical center */
    left: 20%; /* Position the content at the horizontal center */
    transform: translate(-10%, -10%); /* Center the content both horizontally and vertically */
    text-align:justify;
    background:none;
}
#skills {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
}
.skill{
    width:500px;
    margin :60px auto;
    color:#fff;
    padding:20px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.skill li{
    margin:20px 0;
    padding:10px;
}
.bar{
    background: #353b48;
    display:block;
    height:30px;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 15px;
    overflow:hidden;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition:all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1)
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
}
.bar span{
    height:30px;
    float:left;
    background:linear-gradient(90deg, white 0%,#d0d1d3 25%,#c6c7c9 50%,#bbbcbe 75%,#646668 100%); 
}
.html{
    width:90%;
    animation:html 3s;
}
.css{
    width:70%;
    animation:css 3s;
}
.java{
    width:80%;
    animation:java 3s;
}
.js{
    width:30%;
    animation:js 3s;
}
.sql{
    width:60%;
    animation:js 3s;
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }
}
@keyframes java{
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
}
@keyframes js{
    0%{
        width:0%;
    }
    100%{
        width:30%;
    }
}
@keyframes sql{
    0%{
        width:0%;
    }
    100%{
        width:60%;
    }
}
h3{
    color:white;
    font-size: 25px;
}
table{
    table-layout:fixed;
    width:100%;

}
.box{
    width:200px;
    height:200px;
    border-radius: 50%;
    padding:25px;
    margin:20px;
    display:flex;
    align-items: center;
    background:linear-gradient(180deg,#d0d1d3 0%,#c6c7c9 25%,#bbbcbe 50%,#212224 100%); 
    font-size: 40px;
    font-weight: 600;
    color:#090a0c;
    padding: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}
#box a{
    color:#090a0c;
    padding: 10px;
    text-align: center;
}
.certi{
    display:flex;
    text-align:center;
    justify-content: space-around;
}
th,td{
    width: 50%; 
    padding: 0 20px;    
    justify-content: center;
    align-items: center;
}
#contactMe{
    width:100%;
    height:auto;
    text-align: center;
    background-color: #090a0c;
    color:white;
}
.conMe{
    color:#05256e;
    font-size: 25px;
    font-weight: 400;
    /*margin-left: 20px;*/
}
.conMe a{
    justify-content:space-around;
    
}
#works{
    align-items: center;
    text-align: center;
    width:100%;
    display:flex;
    flex-wrap:wrap;
}
.wrk{
    width:30%;
    height:auto;
    align-items: center;
    background:#090a0c;
    display:flex;
    border-radius:25px;
    margin:20px;
    text-align: center;
    overflow: hidden;
}
.wrk img{
    width:100%;
    height:auto;
    border-radius:25px;
}
p{
    text-align: center;
    font-size:25px;
    color:White;
    align-items: center;
    text-align: justify;
}
b{
    font-size: larger;
}
#edu{
    align-items: flex-start;
    text-align: center;
    width:100%;
    justify-content: center;
}
.education{
    width:28%;
    height:200px;
    background:linear-gradient(180deg,#d0d1d3 0%,#c6c7c9 25%,#bbbcbe 50%,#212224 100%); 
    border-radius:25px;
    margin:20px;
    text-align: center;
    padding:20px 10px 20px 10px;
    color:#051438;
    display:inline-block;
    align-content: center;
    
}
.edu h2{
    font-size: 30px ;
    font-weight:700 ;
}
.edu h3{
    font-size: 25px ;
    font-weight:500 ;
}
#Edu h1{
    color:white;
}
#skills h1{
    color:white;
}